<h1>レシピ一覧</h1>
<div id="catalog">
  <div class="grid">
  
    <div class="card">
      <div class="add"></div>
      <%= link_to "新規追加", new_recipe_path(date_param: @cook_at), :class => 'link' %>
    </div>

    <% @recipes.each do |r| %>
      <div class="card">
          <%= image_tag 'no-image.png', :class => 'no-image' %>
          <%= button_to r.recipe_name, copy_recipe_path(r, date_param: @cook_at), :class => 'link' %>
        
      </div>  
    <% end %>
  </div>
</div>
