<h1><%= l @cook_at, format: :default %></h1>
<div id="day_catalog">
  <div class="grid">
    <% @recipes.each do |r| %>
      <div class="card">
          <%= link_to r.recipe_name, r, :class => 'link' %>
      </div>  
    <% end %>
    <div class="card">
      <div class="add"></div>
      <%= link_to "新規追加", catalog_recipe_path(date_param: @cook_at), :class => 'link' %>
    </div>
  </div>
</div>
