
<div id="recipe-index">
  <%= month_calendar(attribute: :cook_at, events: @recipes) do |date, recipes| %>
     <div class="daybox">
      <%= link_to date.day, day_catalog_recipe_path(date), :class => 'dayText' %>
     </div> 
    <% recipes.each do |r| %>
      <div class="accent"></div>
    <% end %>
    
  <% end %>
</div>