<div id="users">
  <div class="contents-wrapp">
    <%= form_for(@user) do |f| %>
      <div class="input-form">
        <%= f.email_field :email, :placeholder => 'メールアドレス', :class => 'input-field' %>
        <%= f.password_field :password, :placeholder => 'パスワード', :class => 'input-field' %>

        <%= f.submit "登録", :class => 'btn create-btn' %>
      </div>
    <% end %>
  </div>
</div>