<h1>カレンダートップ</h1>
<%= link_to "新規登録", new_calendar_path %>

<%= month_calendar(attribute: :cook_at, events: @calendars) do |date, calendars| %>
  <%= date.day %>

  <% calendars.each do |calendar| %>
    <div>
      <%= link_to calendar.cook_at, calendar %>　
    </div>
  <% end %>
<% end %>