#recipe-index{
  .daybox{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dayText{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .accent{
    position: absolute;
    top: 0;
    right: 0;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      border-width: 0 16px 16px 0;
      border-style: solid;
      border-color: #5AC0FF #5AC0FF;
    }
  }
}

#catalog{
  margin-bottom: 3em;
  .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
  }
  .card {
    border: 1px solid #ccc;
    text-align: center;
    .add{
      max-width: 100%;
      height: 88%;
      background: #5AC0FF;
      @include sp {
        height: 300px;
      };
    }
    .no-image{
      max-width: 100%;
      height: auto;
      background: #f1f1f1;
    }
  }
}

#recipe-show{
  margin-bottom: 3em;
  .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: 15px;
    .card {
      text-align: center;
      .recipe-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        background: #f1f1f1;
      }
    }
    table{
      background:#e3f2fd;
      color:#2699FB;
      border-collapse: collapse;
      width: 95%;
      margin: 0 auto;
      border-top: 1px solid #fff;
    }
    tr{
      border-bottom: 1px solid #fff;
    }
    th,td{
      padding: 20px 15px;
      text-align: left;
    }
    th{
      width: 35%;
    }
  }
}

#recipe-new{
  .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: 15px;
    .card {
      text-align: center;
      .recipe-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        background: #f1f1f1;
      }
    }
    table{
      background:#e3f2fd;
      color:#2699FB;
      border-collapse: collapse;
      width: 95%;
      margin: 0 auto;
      border-top: 1px solid #fff;
    }
    tr{
      border-bottom: 1px solid #fff;
    }
    th,td{
      padding: 20px 15px;
      text-align: left;
    }
    th{
      width: 35%;
    }

    #recipe-table, #food-stuff-table, .addBtn, .finish-btn{
      margin-bottom: 2rem;
    }

    #food-stuff-table{
      input{
        width: 100%;
      }
      
    }
    .td1{width: 50%; padding-left:2px;}
    .td2{width: 20%; padding-left:2px;}
    .td3{width: 30%; padding-left:2px;}
    .td4{width: 5%; padding-left:2px;}
  }
  .finish-btn{
    width:22em;
    height:2.5em;
    background:#2699FB;
    color:#fff;
  }
}

#recipe-edit{
  .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: 15px;
    .card {
      text-align: center;
      .recipe-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        background: #f1f1f1;
      }
    }
    table{
      background:#e3f2fd;
      color:#2699FB;
      border-collapse: collapse;
      width: 95%;
      margin: 0 auto;
      border-top: 1px solid #fff;
    }
    tr{
      border-bottom: 1px solid #fff;
    }
    th,td{
      padding: 20px 15px;
      text-align: left;
    }
    th{
      width: 35%;
    }

    #recipe-table, #food-stuff-table, .addBtn, .finish-btn{
      margin-bottom: 2rem;
    }
    #recipe-table{
      background:#f1fff2;
      color:#2ec52c;
    }

    #food-stuff-table{
      input{
        width: 100%;
      }
      
    }
    .td1{width: 50%; padding-left:2px;}
    .td2{width: 20%; padding-left:2px;}
    .td3{width: 30%; padding-left:2px;}
    .td4{width: 5%; padding-left:2px;}
  }
  .finish-btn{
    width:22em;
    height:2.5em;
    background:#2699FB;
    color:#fff;
  }
}

#recipe-search{
  .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: 15px;
    .card {
      text-align: center;
    }
  }
  .checkboxContent{
    margin-bottom: 2rem;
  }
  .checkboxArea {
    margin-bottom: 2rem;
  }
  
  .checkboxInput {
    display: none;
    &:checked + .checkboxText{
      color: #2699FB;
      &::after{
        content: "";
        display: block;
        position: absolute;
        top: -3px;
        left: 7px;
        width: 9px;
        height: 17px;
        transform: rotate(40deg);
        border-bottom: 3px solid #2699FB;
        border-right: 3px solid #2699FB;
      }
    }
  }
  
  .checkboxText {
    padding-left: 35px;
    position:relative;
    margin-right: 20px;
    font-size: 1.2em;
    &::before{
      content: "";
      display: block;
      position: absolute;
      top: -4px;
      left: 0;
      width: 25px;
      height: 25px;
      border: 1px solid #999;
      border-radius: 4px;
    }
    
  }

  .output-btn{
    width:22em;
    height:2.5em;
    background:#2699FB;
    color:#fff;
  }
}

#recipe-output{
  .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: 15px;
    .card {
      text-align: center;
    }
  }
  .checkboxContent{
    margin-bottom: 2rem;
  }
  .checkboxArea {
    margin-bottom: 2rem;
  }
  
  .checkboxInput {
    display: none;
    &:checked + .checkboxText{
      color: #2699FB;
      &::after{
        content: "";
        display: block;
        position: absolute;
        top: -3px;
        left: 7px;
        width: 9px;
        height: 17px;
        transform: rotate(40deg);
        border-bottom: 3px solid #2699FB;
        border-right: 3px solid #2699FB;
      }
    }
  }
  
  .checkboxText {
    padding-left: 35px;
    position:relative;
    margin-right: 20px;
    font-size: 1.2em;
    &::before{
      content: "";
      display: block;
      position: absolute;
      top: -4px;
      left: 0;
      width: 25px;
      height: 25px;
      border: 1px solid #999;
      border-radius: 4px;
    }
    
  }
}