#catalog{
  .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
  }
  .card {
    border: 1px solid #ccc;
    text-align: center;
    .add{
      max-width: 100%;
      height: 78%;
      background: #5AC0FF;
      margin-bottom: 1.4em;
      @include sp {
        height: 300px;
      };
    }
    .no-image{
      max-width: 100%;
      height: auto;
      background: #f1f1f1;
    }
  }
}

#recipe-show{
  .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: 15px;
    .card {
      text-align: center;
      .recipe-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        background: #f1f1f1;
      }
    }
    table{
      background:#F1F9FF;
      color:#2699FB;
      border-collapse: collapse;
      width: 95%;
      margin: 0 auto;
      border-top: 1px solid #fff;
    }
    tr{
      border-bottom: 1px solid #fff;
    }
    th,td{
      padding: 20px 15px;
      text-align: left;
    }
    th{
      width: 35%;
    }
  }
}

#recipe-edit{
  .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: 15px;
    .card {
      text-align: center;
      .recipe-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        background: #f1f1f1;
      }
    }
    table{
      background:#F1F9FF;
      color:#2699FB;
      border-collapse: collapse;
      width: 95%;
      margin: 0 auto;
      border-top: 1px solid #fff;
    }
    tr{
      border-bottom: 1px solid #fff;
    }
    th,td{
      padding: 20px 15px;
      text-align: left;
    }
    th{
      width: 35%;
    }

    #food-stuff-table{
      input{
        width: 100%;
      }
      
    }
    .td1{width: 50%; padding:2px;}
    .td2{width: 20%; padding:2px;}
    .td3{width: 30%; padding:2px;}
    .td4{width: 5%; padding:2px;}
  }
  .finish-btn{
    width:22em;
    height:2.5em;
    background:#2699FB;
    color:#fff;
  }
}
