#recipe-index{
  .daybox{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dayText{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    text-decoration: none;
  }
  .accent{
    position: absolute;
    top: 0;
    right: 0;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      border-width: 0 16px 16px 0;
      border-style: solid;
      border-color: #5AC0FF #5AC0FF;
    }
  }

  .yyyymm{
    text-align: center;
    margin-bottom: 1rem;
  }
  .search-btn-area{
    text-align: center;
    margin-bottom: 2rem;
  }
  .search-btn{
    background: #2699FB;
    color: #fff;
    padding: .3rem 2rem;
    text-decoration: none;
  }
}

#catalog{
  margin-bottom: 3em;
  .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
  }
  .card {
    border: 1px solid #ccc;
    text-align: center;
    .add{
      max-width: 100%;
      height: 88%;
      background: #5AC0FF;
      @include sp {
        height: 300px;
      };
    }
    .no-image{
      max-width: 100%;
      height: auto;
      background: #f1f1f1;
    }
  }
}

#recipe-show{
  margin-bottom: 3em;
  .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: 15px;
    .card {
      text-align: center;
      .recipe-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        background: #f1f1f1;
      }
    }
    table{
      background:#e3f2fd;
      color:#2699FB;
      border-collapse: collapse;
      width: 95%;
      margin: 0 auto;
      border-top: 1px solid #fff;
    }
    tr{
      border-bottom: 1px solid #fff;
    }
    th,td{
      padding: 20px 15px;
      text-align: left;
    }
    th{
      width: 35%;
    }
  }
}

#recipe-new{
  .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: 15px;
    .card {
      text-align: center;
      .recipe-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        background: #f1f1f1;
      }
    }
    table{
      background:#e3f2fd;
      color:#2699FB;
      border-collapse: collapse;
      width: 95%;
      margin: 0 auto;
      border-top: 1px solid #fff;
    }
    tr{
      border-bottom: 1px solid #fff;
    }
    th,td{
      padding: 20px 15px;
      text-align: left;
    }
    th{
      width: 35%;
    }

    #recipe-table, #food-stuff-table, .addBtn, .finish-btn{
      margin-bottom: 2rem;
    }

    #food-stuff-table{
      input{
        width: 100%;
      }
      
    }
    .td1{width: 50%; padding-left:2px;}
    .td2{width: 20%; padding-left:2px;}
    .td3{width: 30%; padding-left:2px;}
    .td4{width: 5%; padding-left:2px;}
  }
  .finish-btn{
    width:22em;
    height:2.5em;
    background:#2699FB;
    color:#fff;
  }
}

#recipe-edit{
  .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: 15px;
    .card {
      text-align: center;
      .recipe-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        background: #f1f1f1;
      }
    }
    table{
      background:#e3f2fd;
      color:#2699FB;
      border-collapse: collapse;
      width: 95%;
      margin: 0 auto;
      border-top: 1px solid #fff;
    }
    tr{
      border-bottom: 1px solid #fff;
    }
    th,td{
      padding: 20px 15px;
      text-align: left;
    }
    th{
      width: 35%;
    }

    #recipe-table, #food-stuff-table, .addBtn, .finish-btn{
      margin-bottom: 2rem;
    }
    #recipe-table{
      background:#f1fff2;
      color:#2ec52c;
    }

    #food-stuff-table{
      input{
        width: 100%;
      }
      
    }
    .td1{width: 50%; padding-left:2px;}
    .td2{width: 20%; padding-left:2px;}
    .td3{width: 30%; padding-left:2px;}
    .td4{width: 5%; padding-left:2px;}
  }
  .finish-btn{
    width:22em;
    height:2.5em;
    background:#2699FB;
    color:#fff;
  }
}

#recipe-search{
  .dateArea{
    margin-bottom: 1rem;
  }
  .input-date {
    font: 15px/24px sans-serif;
    padding: 0.3em;
    border: 1px solid #1b2538;
    border-radius: 4px;
    outline: none;
    width: 40%;
    @include sp {
      width: 35%;
    };
    height: 2em;
  }
  .search-btn{
    padding: 0.4em 1em;
    border-radius: 4px;
    background:#2699FB;
    color:#fff;
  }
  .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: 15px;
    .card {
      text-align: center;
    }
    table{
      width: 85%;
      margin: 0 auto;
      border-spacing: 0 1.5rem;
      margin-bottom: 2rem;
    }
    tr{
      border: 1px solid #BCE0FD;
    }
    th,td{
      border: 1px solid #BCE0FD;
      text-align: left;
    }
    th{
      width: 35%;
      background:#2699FB;
      color:#fff;
      padding: 20px 15px;
    }
  }

  .checkboxInput {
    display: none;
    &:checked + .checklabel {
      background:#BCE0FD;
      color:#2699FB;
      &::before{
        border: 1px solid #ffffff;
      }
      &::after{
        opacity: 1;
      }
    }
  }
  .checklabel {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 15px 30px;
    position: relative;
    width: 100%;
    &::before {
      background: #fff;
      border: 1px solid #7d7d7d;
      content: '';
      display: block;
      height: 16px;
      left: 5px;
      margin-top: -8px;
      position: absolute;
      top: 50%;
      width: 16px;
    }
    &::after {
      border-right: 3px solid #2699FB;
      border-bottom: 3px solid #2699FB;
      content: '';
      display: block;
      height: 9px;
      left: 10px;
      margin-top: -7px;
      opacity: 0;
      position: absolute;
      top: 50%;
      transform: rotate(45deg);
      width: 5px;
    }

  }
  
  .output-btn{
    width:22em;
    height:2.5em;
    background:#2699FB;
    color:#fff;
    margin-bottom: 2rem;
  }
}

#recipe-output{
  .recipename{
    width: 50%;
    background: rgba(34, 34, 34, 0.7);
    margin: 0 auto;
    color:#fff;
    font-size: .7em;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  h3{
    font-weight: normal;
    &:first-child .recipename{
      margin-top: 0;
    }
  }
    
  .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: 15px;
    .card {
      text-align: center;
    }
    label {
      display: block;
    }
    table{
      width: 85%;
      margin: 0 auto;
    }
    tr{
      border: 1px solid #BCE0FD;
    }
    th,td{
      border: 1px solid #BCE0FD;
      text-align: left;
    }
    th{
      width: 35%;
      background:#2699FB;
      color:#fff;
      padding: 20px 15px;
    }
  }
  .checkboxInput {
    display: none;
    &:checked + .checklabel {
      background:#BCE0FD;
      color:#2699FB;
      &::before{
        border: 1px solid #ffffff;
      }
      &::after{
        opacity: 1;
      }
    }
  }
  .checklabel {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 15px 30px;
    position: relative;
    width: auto;
    &::before {
      background: #fff;
      border: 1px solid #7d7d7d;
      content: '';
      display: block;
      height: 16px;
      left: 5px;
      margin-top: -8px;
      position: absolute;
      top: 50%;
      width: 16px;
    }
    &::after {
      border-right: 3px solid #2699FB;
      border-bottom: 3px solid #2699FB;
      content: '';
      display: block;
      height: 9px;
      left: 10px;
      margin-top: -7px;
      opacity: 0;
      position: absolute;
      top: 50%;
      transform: rotate(45deg);
      width: 5px;
    }

  }
  
  
}

#day_catalog{
  margin-bottom: 3em;
  .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: 15px;
    .card {
      text-align: center;
      .recipe-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        background: #f1f1f1;
      }
    }
    table{
      width: 95%;
      margin: 0 auto;
      border-spacing: 0 1.5rem;
    }
    tr{
      border: 1px solid #BCE0FD;
    }
    th,td{
      border: 1px solid #BCE0FD;
      text-align: left;
    }
    th{
      width: 35%;
      background:#2699FB;
      color:#fff;
      padding: 20px 15px;
    }
    td {
      border-left: none;
    }
    .block{
      display: block;
      padding: 20px 15px;
    }
  }
}