<% if logged_in? %>
  <header class="header">
    <div class="header-inner">
      <div class="logo">
        <%= link_to "Cookthings", recipes_path, class: 'header-button home-button' %>
      </div>
      <nav class="header-nav">
        <div class="header-nav-item">
          <%= link_to "Log out", logout_path, method: :delete, class: 'header-button logout-button' %>
        </div>
      </nav>
    </div>
  </header>
<% end %>